In [5]:
#Load the dataset into a pandas DataFrame
import pandas as pd
data = pd.read_csv ("C:/Users/lenovo/Downloads/Synthetic_Financial_datasets_log.csv")

In [6]:
print (data)

         step      type      amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT     9839.64  C1231006815      170136.00
1           1   PAYMENT     1864.28  C1666544295       21249.00
2           1  TRANSFER      181.00  C1305486145         181.00
3           1  CASH_OUT      181.00   C840083671         181.00
4           1   PAYMENT    11668.14  C2048537720       41554.00
...       ...       ...         ...          ...            ...
6362615   743  CASH_OUT   339682.13   C786484425      339682.13
6362616   743  TRANSFER  6311409.28  C1529008245     6311409.28
6362617   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362618   743  TRANSFER   850002.52  C1685995037      850002.52
6362619   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00        0
1              19384.72  M2044282225            0.00            0.00        0
2                  0.00   C553264065            0.00            0.00        1
3                  0.00    C38997010        21182.00            0.00        1
4              29885.86  M1230701703            0.00            0.00        0
...                 ...          ...             ...             ...      ...
6362615            0.00   C776919290            0.00       339682.13        1
6362616            0.00  C1881841831            0.00            0.00        1
6362617            0.00  C1365125890        68488.84      6379898.11        1
6362618            0.00  C2080388513            0.00            0.00        1
6362619            0.00   C873221189      6510099.11      7360101.63        1

         isFlaggedFraud
0                     0
1                     0
2                     0
3                     0
4                     0
...                 ...
6362615               0
6362616               0
6362617               0
6362618               0
6362619               0

[6362620 rows x 11 columns]

In [7]:

data.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0

In [14]:
# Check for missing values in the dataset
missing = data.isnull().sum()
print("Missing values :", missing)

Missing values : step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [16]:

data_cleaned = data.drop(columns=['nameOrig', 'nameDest', 'step'])

print(data_cleaned.head())

       type    amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
0   PAYMENT   9839.64       170136.0       160296.36             0.0
1   PAYMENT   1864.28        21249.0        19384.72             0.0
2  TRANSFER    181.00          181.0            0.00             0.0
3  CASH_OUT    181.00          181.0            0.00         21182.0
4   PAYMENT  11668.14        41554.0        29885.86             0.0

   newbalanceDest  isFraud  isFlaggedFraud
0             0.0        0               0
1             0.0        0               0
2             0.0        1               0
3             0.0        1               0
4             0.0        0               0

In [18]:

TransactionsType = data_cleaned['type'].value_counts()
print(TransactionsType)

type
CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: count, dtype: int64

In [22]:

FraudPercentage = data_cleaned.groupby('type')['isFraud'].mean() * 100
print(FraudPercentage)

type
CASH_IN     0.000000
CASH_OUT    0.183955
DEBIT       0.000000
PAYMENT     0.000000
TRANSFER    0.768799
Name: isFraud, dtype: float64

In [24]:

FraudTransactions = data_cleaned[data_cleaned['isFraud'] == 1]
NonFraudTransactions = data_cleaned[data_cleaned['isFraud'] == 0]


fraud_amount_stats = FraudTransactions['amount'].agg(['mean', 'median', 'std'])
print(fraud_amount_stats)


non_fraud_amount_stats = NonFraudTransactions['amount'].agg(['mean', 'median', 'std'])
print(non_fraud_amount_stats)

mean      1.467967e+06
median    4.414234e+05
std       2.404253e+06
Name: amount, dtype: float64
mean      178197.041727
median     74684.720000
std       596236.981347
Name: amount, dtype: float64

In [30]:
data_cleaned['isFlaggedFraud'] = data_cleaned['amount'] > 200000


flagged_transactions = data_cleaned[data_cleaned['isFlaggedFraud'] == 1]
print("Flagged transactions exceeding 200,000:\n", flagged_transactions)

Flagged transactions exceeding 200,000:
              type      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
15       CASH_OUT   229133.94       15325.00             0.0         5083.00
19       TRANSFER   215310.30         705.00             0.0        22425.00
24       TRANSFER   311685.89       10835.00             0.0         6267.00
82       TRANSFER   224606.64           0.00             0.0       354678.92
84       TRANSFER   379856.23           0.00             0.0       900180.00
...           ...         ...            ...             ...             ...
6362615  CASH_OUT   339682.13      339682.13             0.0            0.00
6362616  TRANSFER  6311409.28     6311409.28             0.0            0.00
6362617  CASH_OUT  6311409.28     6311409.28             0.0        68488.84
6362618  TRANSFER   850002.52      850002.52             0.0            0.00
6362619  CASH_OUT   850002.52      850002.52             0.0      6510099.11

         newbalanceDest  isFraud  isFlaggedFraud
15             51513.44        0            True
19                 0.00        0            True
24           2719172.89        0            True
82                 0.00        0            True
84          19169204.93        0            True
...                 ...      ...             ...
6362615       339682.13        1            True
6362616            0.00        1            True
6362617      6379898.11        1            True
6362618            0.00        1            True
6362619      7360101.63        1            True

[1673570 rows x 8 columns]

In [32]:

transactions_by_type_stats = data_cleaned.groupby('type').agg(
    total_volume=('amount', 'count'),
    total_value=('amount', 'sum')
).sort_values(by='total_value', ascending=False)

# Display the results
print("\nTransactions by type (total volume and value):\n", transactions_by_type_stats)

Transactions by type (total volume and value):
           total_volume   total_value
type
TRANSFER        532909  4.852920e+11
CASH_OUT       2237500  3.944130e+11
CASH_IN        1399284  2.363674e+11
PAYMENT        2151495  2.809337e+10
DEBIT            41432  2.271992e+08